{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'core/style.css' %}">
        <title> {% block title %} My Website {% endblock %} </title>
        

    </head>
    <body>

        <h1>Django website</h1>
        <div class="container">
            <a href="/">Home</a>
            <a href="about/">About</a>
            <hr>
            {% block content %}
            {% endblock %}

        </div>

        <hr>
        <div class="footer">
            <p>© 2026 my Website</p>
        </div>
    </body>
</html>