body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}


h1 {
    background-color: #222;
    color: white;
    padding: 15px;
    margin: 0;
}

.container {
    padding: 20px;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

a:hover {
    color: red;
}

.footer {
    text-align: center;
    padding: 10px;
    background: #ddd;
    margin-top: 20px;
}